<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>

  <head th:insert="~{index :: navbar}"></head>

  <div class="container my-5">
    <div class="dashboard-header mb-4">
      <h1 class="fw-bold">
        <i class="fa-solid fa-user-plus me-2"></i>Dettaglio Richiesta Ruolo
      </h1>
      <p class="lead opacity-75">
        Accetta o Rifiuta una richiesta di ruolo per un utente registrato.
      </p>
    </div>


    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">
        <!-- Card form  -->
        <div class="form-card p-4 shadow-sm rounded text-center">

          <!-- Icona utente -->
          <div class="mb-3">
            <i class="fa-solid fa-user fa-2x text-primary-emphasis me-2"></i>
          </div>

          <!-- Username dell'utente che ha fatto la richiesta -->
          <div class="text-center fw-bold mb-3">
            <h3 th:text="${request.user.username}"></h3>
          </div>

          <!-- Ruolo richiesto -->
          <span 
          class="badge bg-info-new text-white-emphasis text-decoration-none text-uppercase"
          th:text="${request.role.name}">
          </span>
                  

          <!-- Messaggio dell'utente -->
          <div class="user-message-box my-3 p-3 bg-opacity-25 rounded text-center">
            <p th:text="${request.body}" class="mb-0 italic">
            </p>
          </div>

          <div class="d-flex justify-content-center gap-3 mb-2">
            <!-- Tasto Accetta -->
            <form th:action="@{/operations/career/request/accept/{id}(id=${request.id})}" method="post">
              <button type="submit" class="btn btn-success px-4 py-2 fw-bold">
                <i class="fa-solid fa-circle-check me-2"></i>Accetta
              </button>
            </form>

            <!-- Tasto Rifiuta -->
            <form th:action="@{/operations/career/request/reject/{id}(id=${request.id})}" method="post">
              <button type="submit" class="btn btn-danger px-4 py-2 fw-bold">
                <i class="fa-solid fa-circle-xmark me-2"></i>Rifiuta
              </button>

          </div>
        </div>
      </div>
      <!-- Tasto Torna Indietro -->
       <div class="text-center mt-4">
      <a th:href="@{/admin/dashboard}" class="btn btn-outline-secondary btn-lg">
         <i class="fa-solid fa-arrow-left me-2"></i>Torna Indietro
      </a>
       </div>
    </div>
  </div>


  <head th:insert="~{index :: footer}"></head>
  <script th:replace="~{index :: bootstrapScript}"></script>
</body>

</html>