<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{index :: head}"></head>
  <body>
    <head th:insert="~{index :: navbar}"></head>

    <div class="container mt-4">
      <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
      </div>

      <div class="container">
        <div class="col-10 d-flex justify-content-center">
          <div class="col-10 mb-5">
            <h5 class="text-center" th:text="${title}">Index articoli</h5>
          </div>
        </div>
      </div>

      <div class="container" th:if="${articles.size() > 0}">
        <div
          th:each="article:${articles}"
          class="col-12 col-md-4 d-flex justify-content-center mb-4 float-start"
        >
          <div class="card" style="width: 18rem">
            <img
              th:src="${article.image != null} ? ${article.image.path} : '/images/default.jpg'"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${article.title}"></h5>
              <p class="card-text" th:text="${article.subtitle}"></p>
              <p class="card-text" th:text="${article.user.username}"></p>
              <a
                th:href="@{/articles/detail/{id}(id=${article.id})}"
                class="btn btn-primary"
                >Leggi</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center" th:unless="${articles.size() > 0}">
        <div class="col-10 mb-5">
          <h5 class="text-center">NESSUN ARTICOLO PRESENTE</h5>
        </div>
      </div>
    </div>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>
  </body>
</html>
